<!DOCTYPE html>
<html>
<head th:replace="layouts/base-layout::head"></head>

<body>


<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header"><h4>Iniciar Sesion</h4></div>
				<div class="card-body">
				
				<form id="loginform" th:action="@{/outh/login-post}" method="POST" role="form">
				
					<div class="row form-group">
						<label class="col-md-3">Usuario</label>
						<input type="text" class="form-control col-md-7" name="username"/>
					</div>
				
					<div class="row form-group">
						<label class="col-md-3">Contraseña</label>
						<input type="text" class="form-control col-md-7" name="password"/>
					</div>

					<div class="row form-group">
						<input type="submit" class="btn btn-success btn-block col-md-7 offset-3" value="Continuar"/>
					</div>
															
				</form>
				
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>